MONGO_URI=mongodb+srv://krishnavermaambala05_db_user:NMBGC1zS8UUjBNgE@medivault.2nxb4tc.mongodb.net/?appName=Medivault

CLOUDINARY_CLOUD_NAME=dkhkpmunl
CLOUDINARY_API_KEY=422182275796969
CLOUDINARY_API_SECRET=55Y_D8hvkAtvAZWKCYyxWKwcZk8

JWT_SECRET=my_jwt_secret_key